.dropdown-background {
  background-color: transparent;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;

  &:hover {
    cursor: default;
  }
}

.show {
  display: block !important;
}
