.dropdown-background {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  opacity: 0.3;

  &:hover {
    cursor: default;
  }
}

.show {
  display: block !important;
}

.for-search {
  top: 60px;
}
