.profile-icon {
  width: 64px;
  height: 64px;
  // margin: calc((72px - 50px) / 2) 0px;
  border-radius: 52px;
  background-color: white;
  float: right;
  margin-top: -15px;

  &:hover {
    cursor: pointer;
  }

  img {
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    border-radius: 64px;
  }
}
