.dropdown {
  z-index: 100;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  top: 100px;
  right: 50px;
  border-radius: 5px;
  color: black;
  opacity: 1 !important;
}

.show {
  display: block;
}
