.search {
  margin-top: 30px;
}

.search-btn {
  border: 1px solid #786947;
  color: #ceb478;

  &:hover {
    background-color: #ceb478;
    color: white;
  }
}

.search-input {
  border: 1px solid #786947;
}
