.profile-img {
  width: 200px;
  height: 200px;
  overflow: auto;
  border: 5px solid goldenrod;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

.owner:hover {
  cursor: pointer;
}

.error {
  border-color: red;
}
