.img-logo {
  width: 250px;

  @media screen and (max-width: 600px) {
    width: 150px;
  }
}

.logo {
  width: 250px;
  font-size: 36px;
  color: #ceb478;
  font-weight: bolder;
  float: left;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  // margin-top: -5px;

  @media screen and (max-width: 600px) {
    width: 150px;
  }

  // padding: 5px;

  &:hover {
    cursor: pointer;
  }
}
