.img-logo {
  width: 250px;

  @media screen and (max-width: 600px) {
    width: 150px;
  }
}

.logo {
  width: 250px;
  margin-top: 20px;

  @media screen and (max-width: 600px) {
    width: 150px;
  }

  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}
