.header {
  background-color: black;
  padding: 20px 100px;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  /* 스마트폰 세로 */
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px 20px;
  }
}

.item-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
  }
}
