.header {
  margin: 0 auto;
  background-color: black;
  padding: 20px 100px;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.item-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
  }
}
