.auth-container {
  width: 100%;
}

.auth-box {
  border: solid 5px goldenrod;
  width: 500px;
  padding: 50px 40px;
  border-radius: 5px;
  margin: auto;
  margin-top: 200px;

  @media screen and (max-width: 500px) {
    width: 350px;
  }
}
